mixin toggle(options = {text: "Получать спецпредложения", checked: false})
	.toggle
		label.toggle__label
			input.toggle__button(type="checkbox" checked=options.checked)
			span.toggle__handle
			span.toggle__text= options.text
