mixin toggle(options = {text: "Получать спецпредложения", checked: false}) 
    .switch 
        label.switch__btn
            input.switch__checkbox(type="checkbox" checked=options.checked)
            span.switch__handle
        span.switch__text= options.text 
        
