*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    font-size: 10px;
    box-sizing: border-box
}

.switch {
    display: inline-flex;
    &__btn {
        width: 29px;
        height: 14px;
        display: inline-block;
        position: relative;
    }

    &__handle {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 30px;
        box-shadow: 0 0 0 1px rgba(31, 32, 65, 0.25), 0 0 4px rgba(31, 32, 65, 0.25);
        border: 2px solid transparent;
        overflow: hidden;
        cursor: pointer;

        &::before {
            position: absolute;
            content: "";
            width: 42%;
            height: 99%;
            background: rgba(31, 32, 65, 0.25);
            border-radius: 30px;
            transform: translateX(0px);
            transition: all ease 0.2s;
        }
    }

    &__checkbox {
       display: none;
       
       &:checked + .switch__handle::before{
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            transform: translateX(14px);
       }

       &:checked + .switch__handle {
            box-shadow: 0 0 0 1px #BC9CFF, 0 0 4px #BC9CFF;
       }
    }

    &__text {
        margin-left: 8px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: -.5px;
        color: rgba(31, 32, 65, 0.75); 
    }
}