*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    font-size: 10px;
    box-sizing: border-box
}
    
.checkbox-list {
    width: 205px;
}

.checkbox-list__panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
    
.checkbox-list__name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    letter-spacing: -0.3px;
}
        
.checkbox-list__extend {
    width: 19px;
    height: 15px;
    font-size: 19px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
}
 

.checkbox-list__fields-wrapper {
    flex-direction: column;
    width: 100%;
    padding-top: 12px;
    max-height: 0;
    overflow: hidden;
    transition: all ease .5s;
}
    
.checkbox-list__field {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.checkbox-list__select {
    appearance: none;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    width: 16px;
    height: 16px;
}
.checkbox-list__select:focus {
    border: 1px solid #BC9CFF;
}
    
.checkbox-list__select:hover {
    border: 1px solid #BC9CFF;
}
         

.checkbox-list__select:checked {
    border: 1px solid #BC9CFF;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-image: url("./images/done.svg");
}


.checkbox-list__category {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    margin-left: 8px;
}


.checkbox-list__select_extended {
    transform: rotate(-180deg);
}
    

.checkbox-list__fields-wrapper_extended {
     display: flex;
    max-height: 100vh;
}
   