// @import "~jquery-ui/themes/base/theme.css";
// @import "~jquery-ui/themes/base/core.css";
// @import "~jquery-ui/themes/base/datepicker.css";
@import 'air-datepicker/dist/css/datepicker.min.css';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    font-size: 10px;
    box-sizing: border-box
}
.datepicker-inline {
    position: relative;

    .datepicker {
        position: absolute;
        top: 5px;
        left: 0px;
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        border-radius: 4px;
        z-index: 999;
        width: 100%;
        
        &--content {
            padding: 3px 0px 0px 11px;
        }

        &--nav {
            border: none;
            margin-bottom: 18px;
            margin-top: 6px;

            &-action {
                width: 38px;
            }
            &-title {
                font-family: Montserrat;
                font-weight: bold;
                font-size: 15px;
                line-height: 24px;
                text-align: center;
                color: #1F2041;
                letter-spacing: -0.5px;

                i {
                    color: #1F2041;
                }
            }

            &-action svg {
                width: 14px;
                height: 14px;
            }

            &-action svg path {
                stroke: #BC9CFF;
                fill: #BC9CFF;
                stroke-width: 0.5px;
            }
        }

        &--days-names {
            width: 92%;
            margin: 0 5px 8px 5px;
        }

        &--day-name {
            font-family: Montserrat;
            font-weight: bold;
            font-size: 9px;
            line-height: 15px;
            color: #BC9CFF;
        }

        &--cells {
            padding-left: 5px;
            padding-right: 5px;
        }

        &--cell {
            font-family: Montserrat;
            font-weight: normal;
            font-size: 10px;
            line-height: 15px;
            color: rgba(31, 32, 65, 0.5);
            height: 32.4px;

            &-day {
                width: 13.66%;

                &.-focus- {
                    border-radius: 30px;
                    border: 0;
                }
            }

            &.-current- {
                font-family: Montserrat;
                font-weight: bold;
                color: #FFFFFF;
                background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%); 
                border-radius: 22px;
            }

            &.-selected- {
                font-weight: bold;
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                color: white;
                border-radius: 22px;
            }

            &.-range-from-::after,
            &.-range-to-::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                opacity: 0.25;
                z-index: -1;
            }
            
            &.-range-from-::after {
                border-radius: 50% 0 0 50%;
            }

            &.-range-to-::after {
                border: 0;
                border-radius: 0 50% 50% 0;
            }

            &.-in-range- {
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                opacity: 0.25;
                color: black;
                border-radius: 0;
            }
        }

        &--cell::hover {
            border-radius: 30px;
        }

        &--buttons {
            border: none;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 10px;
            line-height: 15px;
            text-transform: uppercase;

            span[data-action="apply"] {
                margin-right: 7px;
                color: #BC9CFF;
            }

            span[data-action="clear"] {
                margin-right: 85px;
                color: rgba(31, 32, 65, 0.5);
            }
        }

        &--button {
            height: 35px;
        }

        &--button:hover {
            opacity: .5;
            background: none;
        }
    }
}   