@import 'air-datepicker/dist/css/datepicker.min.css';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    font-size: 10px;
    box-sizing: border-box
}
.datepicker-inline {
    .datepicker {
        position: absolute;
        top: 75px;
        left: 0px;
        background: #FFFFFF;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        border-radius: 4px;
        z-index: 999;
        width: 100%;
        
        &--content {
            padding: 3px 0px 0px 13px;
        }

        &--nav {
            border: none;
            margin-bottom: 23px;
            margin-top: 11px;

            &-action {
                width: 56px;
            }
            &-title {
                font-family: Montserrat;
                font-weight: bold;
                font-size: 17px;
                line-height: 24px;
                text-align: center;
                color: #1F2041;
                letter-spacing: 0.5px;
                padding: 0 8px 0px 13px;

                i {
                    color: #1F2041;
                }
            }
        }

        &__arrow {
            width: 20px;
            height: 17px;
            stroke: #BC9CFF;
            fill: #BC9CFF;
            stroke-width: 0.5px;
        }

        &--days-names {
            max-width: 280px;
            padding: 0px 3px 0px 8px;
            margin-bottom: 13px;
        }

        &--day-name {
            font-family: Montserrat;
            font-weight: bold;
            font-size: 11px;
            line-height: 15px;
            color: #BC9CFF;
            text-transform: none;
        }

        &--cells {
            padding: 0px 0px 0px 8px;
        }

        &--cell {
            font-family: Montserrat;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            color: rgba(31, 32, 65, 0.5);
            &-day {
							height: 40px;
							width: 40px;
                &.-focus- {
                    border-radius: 30px;
                    border: 0;
                }
            }

            &.-current- {
                font-family: Montserrat;
                font-weight: bold;
                color: #FFFFFF;
                background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%); 
                border-radius: 22px;
            }

            &.-selected- {
                font-weight: bold;
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                color: white;
                border-radius: 22px;
            }

            &.-range-from-::after,
            &.-range-to-::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                opacity: 0.25;
                z-index: -1;
            }
            
            &.-range-from-::after {
                border-radius: 50% 0 0 50%;
            }

            &.-range-to-::after {
                border: 0;
                border-radius: 0 50% 50% 0;
            }

            &.-in-range- {
                background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
                opacity: 0.25;
                color: black;
                border-radius: 0;
            }
        }

        &--cell::hover {
            border-radius: 30px;
        }

        &--buttons {
            border: none;
            font-family: Montserrat;
            font-weight: bold;
            font-size: 11px;
            line-height: 15px;
            text-transform: uppercase;
            letter-spacing: 0.8px;
            margin-top: 12px;
            margin-bottom: 5px;
            padding: 0px 5px 4px 0px;

            span[data-action="apply"] {
                color: #BC9CFF;
            }

            span[data-action="clear"] {
                margin-right: 85px;
                color: rgba(31, 32, 65, 0.5);
            }
        }

        &--button:hover {
            opacity: .5;
						background: none;
        }
    }
}   