.landing-page
  header.landing-page__header
    +header({login: false})
  main.landing-page__main
    .landing-page__main-container
      .landing-page__find-room
        +find-room({title: "Найдем номера под ваши пожелания"})
      .landing-page__slogan
        span.landing-page__slogan-text Лучшие номера для вашей работы, отдыха и просто вдохновения
  footer.landing-page__footer
    +footer({})