.pagination {
	max-width: 240px;

	&__pages {
		display: flex;
    align-items: center;
    justify-content: space-between;
	}

	&__page {
		font: normal normal 12px/1.2 Montserrat;
		text-decoration: none;
    text-align: center;
    color: rgba(31, 32, 65, 0.5);
    width: 40px;
    height: 40px;
    justify-content: center;
    padding-top: 11.6px;
	}

	&__page:not(&__page_disabled):hover {
		background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
		opacity: .5;
		border-radius: 22px;
		color: #fff;
	}

	&__page_current {
		background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
		border-radius: 22px;
		color: #fff;
	}
	
	&__next {
		width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 22px;
		border: none;
		cursor: pointer;
	}

	&__next:hover {
		opacity: .5;
	}

	&__arrow {
		width: 28px;
		height: 30px;
		fill: #fff;
		stroke: none;
	}

	&__total {
		font: normal normal 14px/24px Montserrat;
    color: rgba(31, 32, 65, 0.75);
    padding-left: 5px;
    padding-top: 7px;
	}
}