include /UI_kit/headers-footers/components/header/header
include /UI_kit/headers-footers/components/footer/footer
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title headers-footers
	body
		.headers-footers
				a.headers-footers__logo(href="#")
					img.headers-footers__img(src=require("root/images/logo_gray.svg").default)
				.headers-footers__header-logout
					+header({login: false})
				.headers-footers__header-login
					+header({login: true})
				.headers-footers__footer-desktop
					+footer({})
				.headers-footers__footer-mobile
					+footer({})