.radio {
	display: inline-block;
	position: relative;

	&__button {
		opacity: 0;
		z-index: -1;
		position: absolute;
	}

	&__button {
		opacity: 0;
    z-index: -1;
    position: absolute;
    top: 7px;
    left: 4px;
	}

	&__fake {
		padding-left: 30px;
    position: relative;
	}

	&__text {
		font: 14px/24px Montserrat;
    color: rgba(31, 32, 65, 0.5);
	}

	&__fake::after {
    content: "";
    background: transparent;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -1px;
    left: 0px;
	}

	&__fake::before {
		content: "";
    position: absolute;
    background: transparent;
    border-radius: 10px;
    width: 11px;
    height: 11px;
    top: 3.4px;
    left: 4.6px;
	}

	&__button:checked + &__fake::before {
		background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	}

	&__button:checked + &__fake::after {
		border: 1px solid #BC9CFF;
	}

	&__button:checked + &__text {
		color: rgba(31, 32, 65, 0.75);
	}
}
