.type {
  max-width: 364px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  color: rgba(31, 32, 65, 0.25);
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.type_size-h2 {
  max-width: 333px;
  font-size: 16px; 
}

.type_size-h3 {
  max-width: 328px;
  font-size: 9px;
  text-transform: uppercase;
  padding-left: 10px;
}

.type_size-body {
  max-width: 296px;
  font-size: 11px;
  line-height: 19px;
  text-transform: none;
  padding-left: 0px;
  margin-left: -7px;
}

.type__description {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  color: #1F2041;
  letter-spacing: -0.28px;
  flex-basis: 319px;
  text-transform: none;
}

.type__description_size-h2 {
  line-height: 20px;
  letter-spacing: -0.6px;
  flex-basis: 288px;
}

.type__description_size-h3 {
  line-height: 10px;
  letter-spacing: 0.4px;
  font-family: Montserrat;
  text-transform: uppercase;
  flex-basis: 282px;
}

.type__description_size-body {
  line-height: 19px;
  font-family: Montserrat;
  font-weight: 500;
  flex-basis: 244px;
  letter-spacing: 0.1px;
}