mixin type(options = {header: "H1", description: "This one is the sub-section or widget title", size: "h1"})
  .type(class=`type_size-${options.size}`)= options.header
    span.type__description(class=`type__description_size-${options.size}`)= options.description