@import 'FEcomponents/field/field';
@import 'FEcomponents/button/button';
.login {
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	max-width: 380px;
	padding: 40px 29px 30px 28px;
	
	&__title {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
		color: #1F2041;
		margin-bottom: 19px;
	}

	&__email {
		margin-bottom: 11px;
	}

	&__password {
		margin-bottom: 19px;
	}

	&__login-button {
		margin-bottom: 28px;
	}

	&__footer {
		display: flex;
    align-items: center;
		justify-content: space-between;
		flex-flow: row wrap;
	}

	&__footer-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
	}

	&__footer-create {
		flex-basis: 98px;
	}
}