@import '~normalize.css';
@import 'root/fonts/fonts';
@import 'root/UI_kit/colors-type/components/color/color';
@import 'root/UI_kit/colors-type/components/type/type';
:root {
	font: normal normal .875em/1.2 Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.colors-type {
	&__logo {
		width: 50px;
    height: 48px;
    margin-bottom: 29px;
	}
	
  &__container {
      display: flex;
      flex-flow: wrap;
      max-width: 928px;
      margin: 0 auto;
      justify-content: space-between;
      padding: 100px 0px 100px 0px;
  }

  &__colors {
      display: flex;
      flex-flow: column wrap;
  }

  &__color {
      margin-bottom: 17px;
  }

  &__types {
      display: flex;
      flex-flow: column wrap;
  }
  
  &__type {
      margin-bottom: 39.5px
  }
}