mixin checkbox(options = {text: 'default', weight: 'bold'})
    label.checkbox
        -
            let class__name = `checkbox__name checkbox__name_font_weight-${options.weight}`;     
        input(type="checkbox" class="checkbox__select")
        span(class=class__name)= options.text
