mixin checkbox(options= {text: 'default', weight: 'bold'})
	-
		const textExtraClasses = `checkbox__text_weight-${options.weight}`;
	.checkbox
		label.checkbox__label
			input.checkbox__select(type="checkbox")
			span.checkbox__fake
			span.checkbox__text(class=textExtraClasses)= options.text
