@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat/Montserrat-Bold.eot');
	src: local('☺'), url('Montserrat/Montserrat-Bold.woff') format('woff'), url('Montserrat/Montserrat-Bold.ttf') format('truetype'), url('Montserrat/Montserrat-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat/Montserrat-Regular.eot');
	src: local('☺'), url('Montserrat/Montserrat-Regular.woff') format('woff'), url('Montserrat/Montserrat-Regular.ttf') format('truetype'), url('Montserrat/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('Quicksand/Quicksand-Regular.eot');
	src: local('☺'), url('Quicksand/Quicksand-Regular.woff') format('woff'), url('Quicksand/Quicksand-Regular.ttf') format('truetype'), url('Quicksand/Quicksand-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Quicksand';
	src: url('Quicksand/Quicksand-Bold.eot');
	src: local('☺'), url('Quicksand/Quicksand-Bold.woff') format('woff'), url('Quicksand/Quicksand-Bold.ttf') format('truetype'), url('Quicksand/Quicksand-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}