@import 'FEcomponents/button/button';
@import 'FEcomponents/rate/rate';
.room {
	background: #FFFFFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius: 4px;
	max-width: 271px;

	&__preview {
		position: relative;
	}

	&__preview-img {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		width: 100%;
	}	
	
	&__preview-link:hover ~ &__prev{
		opacity: .8;
	}

	&__preview-link:hover ~ &__next{
		opacity: .8;
	}
	
	&__prev {
		position: absolute;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
		top: 0;
		left: 0;
		bottom: 4px;
		width: 42px;
		display: flex;
		align-items: center;
		flex-flow: row wrap;
		opacity: 0;
		transition: opacity .5s ease;
	}

	&__prev:hover {
		opacity: .8;
	}

	&__prev-img {
		transform: rotate(90deg);
	}

	&__next {
		position: absolute;
		background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
		transform: matrix(-1, 0, 0, 1, 0, 0);
		top: 0;
		right: 0;
		bottom: 4px;
		width: 42px;
		display: flex;
		align-items: center;
		flex-flow: row wrap;
		opacity: 0;
		transition: opacity .5s ease;
	}

	&__next:hover {
		opacity: .8;
	}

	&__next-img {
		transform: rotate(90deg);
	}

	&__links {
		position: absolute;
    bottom: 21px;
    right: 15px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    border-radius: 10px;
    width: 42px;
	}

	&__link {
		width: 7px;
    height: 7px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
	}

	&__link:hover {
		opacity: .5;
	}

	&__link_checked {
		background: #fff;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		padding: 21px 18px 0px 20px;
	}

	&__number {
		font: normal bold 17px/15px Montserrat;
		color: #1F2041;
		margin-right: 5px;
	}

	&__info-icon {
		font-weight: normal;
		font-size: 14px;
		margin-right: 5px;
	}

	&__price {
		font: normal bold 14px/15px Montserrat;
		color: rgba(31, 32, 65, 0.5);
		margin-left: 34px
	}

	&__price-time {
		font-weight: normal;
    margin-left: 2px;
    font-size: 13px;
    letter-spacing: -0.4px;
	}

	&__review {
		padding: 22px 21px 18px 22px;
    display: flex;
    justify-content: space-between;
		align-items: center;
		flex-flow: row wrap;
	}

	&__comments-number {
		font: normal bold 14px/18px Montserrat;
    text-align: right;
    color: rgba(31, 32, 65, 0.5);
	}

	&__comments-text {
		font: normal normal 14px/18px Montserrat;
    text-align: right;
    color: rgba(31, 32, 65, 0.5);
    margin-left: 4px;
	}
}
