include UI_kit/form-elements/components/button/button
mixin header(options = {additionalProps: {}, items: [], login: true} )
    -
        let additionalProps = 
        options.additionalProps || {
            "О нас" : "header__item-link_font_weight-bold",
            "Услуги": "header__item-link_extend-true",
            "Соглашения": "header__item-link_extend-true"
        }
        let items = options.items || ["О нас", "Услуги", "Вакансии", "Новости", "Соглашения"]

    header.header
        .header__container
            a.header__logo(href="#")
                img.header__logo-img(src=require("root/images/logo.svg").default alt="logo")
            nav.header__nav
                ul.header__site-nav
                    each item in items
                        -
                            var classItem = additionalProps[item] 
                            ? `header__item-link ${additionalProps[item]}` 
                            : 'header__item-link'

                        li.header__item
                            a(class=classItem)= item
                ul.header__user-nav
                    case options.login
                        when false
                            li.header__login
                                +button({theme: "transparent", size: "smaller", height: "medium", arrow: false, text: "войти", textColor: "purple"})
                            li.header__registration
                                +button({theme: "full", size: "medium", height: "medium", arrow: false, text: "зарегистрироваться", textColor: "white"})
                        when true
                            span.header__user-name
                                a.header__user-link Юлий Цезарь   