include /UI_kit/cards/components/find-room/find-room
include /UI_kit/cards/components/booking/booking
include /UI_kit/cards/components/registration/registration
include /UI_kit/cards/components/signin/signin
include /UI_kit/cards/components/room/room
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title cards
  body
    .cards
      img.cards__logo(src=require("root/images/logo_gray.svg").default)
      .cards__container
        .cards__find-room
          +find-room({title: "Найдём номера под ваши пожелания"})
        .cards__booking
          +booking({})
        .cards__calendar-wrapper
          .cards__calendar
        .cards__registration
          +registration({title: "Регистрация аккаунта"})
        .cards__login
          +signin({title: "Войти"})
        .cards__rooms
          .cards__room-one
            +room({img: "room_1", price: "9 990₽", comments: 145, number: 888, lux: true, links: 4, fill: 5, checked: 0})
          .cards__room-two
            +room({img: "room_2", price: "9 990₽", comments: 65, number: 840, lux: false, links: 4, fill: 4, checked: 0})