.field {
	max-width: 32s1px;

	&_size-medium {
		max-width: 266px;
	}

	&__label {
    font: bold 13px/15px Montserrat, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #1F2041;
		letter-spacing: -0.6px;
    display: inline-block;
		margin-bottom: 6px;
	}

	&__input-wrapper {
		position: relative;
	}

	&__input { 
		width: 100%;
		padding: 0px 35px 0px 14px;
		border: 1px solid rgba(31, 32, 65, 0.25);
		border-radius: 4px;
		background: transparent;
		
		font: 1.071rem/2.8 Montserrat, Arial, Helvetica, sans-serif;
    color: rgba(31, 32, 65, 0.75);
		text-overflow: ellipsis;
		letter-spacing: -0.6px;
	}

	&__input::placeholder {
		color: rgba(31, 32, 65, 0.25);
	}

	&__input:hover {
		border: 1px solid rgba(31, 32, 65, 0.5);
	}

	&__input:focus {
		border: 1px solid rgba(31, 32, 65, 0.5);
	}

	&__arrow {
    position: absolute;
    top: 14px;
		right: 14px;
		z-index: -1;
	}
}