.like {
	display: inline-flex;
	position: relative;
	max-width: 69px;
	border-radius: 10px;
	width: 40px;
	height: 21px;
	background: rgba(31, 32, 65, 0.25);
	align-items: flex-start;
	justify-content: space-between;
	padding: 2px 10px 0px 5px;

	&::after {
    content: "";
    position: absolute;
    width: 37.4px;	
    height: 19px;
    background: #fff;
    top: 0.8px;
		left: 1.3px;
    z-index: 1;
    border-radius: 10px;
	}

	&__icon {
		display: inline-block;
    width: 10px;
    height: 10px;
		padding-right: 0px;
		z-index: 2;
	}

	&__img path {
		fill: none;
    stroke: rgba(31, 32, 65, 0.25);
	}

	&__count {
		font: 10px/15px Montserrat;
		color: rgba(31, 32, 65, 0.25);
		z-index: 2;
	}

	&:hover {
		background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	}

	&:hover &__img path {
		fill: #BC9CFF;
    stroke: none;
	}

	&:hover &__count {
		color: #BC9CFF;
	}

	&_checked-true {
		background: linear-gradient(79deg, #bc9cff 0%, #8ba4f9 100%);

		& .like__img path {
			fill: #BC9CFF;
			stroke: none;
		}

		& .like__count {
			color: #BC9CFF;
		}
	}
}