*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    font-size: 10px;
    box-sizing: border-box
}

.text-field {
    margin: 10px;
    width: 256px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    padding-left: 11px;
    padding-right: 11px;
    text-overflow: ellipsis;
    outline: none;

    font-family: Montserrat;
    font-size: 12px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.25);
}

.text-field::placeholder {
    font-family: Montserrat;
    font-size: 11px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.25);
}

.text-field:focus {
    border: 1px solid rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.75);
}

.text-field:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.75);
}