include UI_kit/form-elements/components/like/like
mixin review(options = {name: "", time: "", comment: ""})
	.review
		.review__user
			img.review__avatar(src=require("root/images/avatar.jpg").default)
			.review__info
				span.review__name= options.name
				span.review__time= options.time
		.review__description
			.review__like
				+like({checked: true, count: 12})
			p.review__comment= options.comment