@import 'FEcomponents/like/like';
.review {
	max-width: 709px;

	&__user {
		display: flex;
    margin-bottom: 10px;
	}

	&__avatar {
    width: 45px;
    height: 45px;
	}

	&__info {
		padding-left: 12px;
	}

	&__name {
		display: block;
		font:normal bold 14px/24px Montserrat;
    color: rgba(31, 32, 65, 0.75);
	}

	&__time {
		display: block;
		font: normal normal 14px/24px Montserrat;
    color: rgba(31, 32, 65, 0.75);
	}

	&__description {
		display: flex;
    padding-left: 3px;
	}

	&__like {
		padding-top: 1px;
	}

	&__comment {
		font:normal normal 14px/23.2px Montserrat;
    color: rgba(31, 32, 65, 0.75);
    padding-left: 14px;
	}
}