@import "../button/button";
@import "/UI_kit/cards/components/calendar/calendar";

.dropdown-wrapper {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	flex-flow: row wrap;
	max-width: 320px;
}

.dropdown {	
	max-width: 267px;

	&_size-large {
		max-width: 321px;
	}

	&_size-small {
		max-width: 150px;
	}
	
	&_size-medium {
		max-width: 266px;
	}

	&__from {
		margin-right: 20px;
	}

	&__title {
		font: normal bold 12px/15px Montserrat;
		text-transform: uppercase;
		color: #1F2041;
		line-height: 25px;
	}

	&__field-wrapper {
		position: relative;
	}

	&__field-wrapper::after {
		content: '';
		position: absolute;
		display: inline-block;
		background-image: url('/images/expand.svg');
		background-position: center center;
		background-size: cover;
    width: 13px;
    height: 7px;
    top: 19px;
    right: 15px;
		transition: all .2s ease;
		z-index: -1;
	}

	&__field-wrapper_expanded::after {
		transform: rotate(180deg);
	}

	&__field {
		width: 100%;
		border: 1px solid rgba(31, 32, 65, 0.25);
		border-radius: 0.2em;
		border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
		padding: 10px 10px 11px 13px;
		background: transparent;
		
		font: normal normal 14px/21px Montserrat;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
		color: rgba(31, 32, 65, 0.75);
		cursor: pointer;
	}

	&__field::placeholder {
		color: rgba(31, 32, 65, 0.25);
		letter-spacing: 0.2px;
	}

	&__field_checked {
		border: 1px solid rgba(31, 32, 65, 0.5);
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	&__field_type-list {
		border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
	}

	&__items-wrapper {
		display: none;
		max-width: 284px;
    position: relative;
	}

	&__items-wrapper_size-large {
		max-width: 341px;
	}

	&__items-wrapper_size-medium {
		max-width: 284px;
	}

	&__items-wrapper_display-true {
		display: block;
	}

	&__items {
		position: absolute;
		top: 0;
    left: 0;
		right: 0;
		display: flex;
		flex-flow: column;
		border: 1px solid rgba(31, 32, 65, 0.5);
		border-top: transparent;
		border-radius: 0.2em;
		border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 2.5px 6px 0px 14px;
    overflow: hidden;
		background: #FFFFFF;
		z-index: 999;
	}

	&__item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
		margin-bottom: 6.4px;
	}

	&__category {
		flex-basis: 62.1%;
    font: normal bold 12px/15px Montserrat;
    text-transform: uppercase;
    color: #1F2041;
    letter-spacing: 0.1px;
	}

	&__category_size-medium {
		flex-basis: 62.1%;
	}

	&__category_size-large {
		flex-basis: 69%;
	}

	&__change-panel {
    display: flex;
    flex-flow: row;
    flex-basis: 37.2%;
    align-items: center;
    justify-content: space-between;
    padding-top: 1px;
	}

	&__change-panel_size-medium {
		flex-basis: 37.2%;
	}

	&__change-panel_size-large {
		flex-basis: 31%;
	}

	&__substract {
		padding: 4px 11px 2px 11px;
		border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 22px;
		font: normal normal 18px/22px Montserrat;
    color: rgba(31, 32, 65, 0.5);
		text-align: center;
		cursor: pointer;
	}

	&__substract_disabled {
		cursor: not-allowed;
		opacity: .5;
	}

	&__number {
		font: normal bold 12px/15px Montserrat;
    text-align: center;
    text-transform: uppercase;
    color: #1F2041;
	}

	&__add {
		font: normal normal 18px/22px Montserrat;
    color: rgba(31, 32, 65, 0.5);
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 22px;
    text-align: center;
		padding: 3px 10px 2px 8px;
		cursor: pointer;
	}

	&__buttons-wrapper {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
	}

	&__buttons-wrapper_justify_content-space-between {
		justify-content: space-between;
	}

	&__button-clear {
		display: none;
	}

	&__button-clear_display-true {
		display: inline-block;
	}

}

.datepicker-inline {
	.datepicker {
			&__date-type_from-to {
			width: 255px !important;
			top: 40px !important;
			left: -285px !important;
		}
	}
}
