@import 'FEcomponents/checkbox/checkbox';
.checkbox-rich {
	max-width: 255px;
	&__title {
		font: normal bold 12px/15px Montserrat;
		text-transform: uppercase;
		color: #1F2041;
	}

	&__item:first-child {
		margin-top: 16px;
	}

	&__item:not(:last-child) {
		margin-bottom: 10px;
	}

	&__checkbox {
		margin-bottom: 7px;
	}

	&__description {
		font: normal normal 12px/14px Montserrat;
		color: rgba(31, 32, 65, 0.5);
		padding-left: 30px;
	}
}