@import 'FEcomponents/field/field';
@import 'FEcomponents/button/button';
@import 'FEcomponents/toggle/toggle';
@import 'FEcomponents/radio/radio';
@import "CardsComponents/calendar/calendar";
.registration {
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	max-width: 381px;
	padding: 40px 29px 29px 29px;

	&__title {
		font: normal bold 24px/30px Montserrat;
    color: #1F2041;
		letter-spacing: -0.5px;
		margin-bottom: 20px;
	}

	&__name {
		margin-bottom: 11px;
	}

	&__surname {
		margin-bottom: 8px;
	}

	&__gender {
		display: flex;
    justify-content: space-between;
		max-width: 68.7%;
		flex-flow: row wrap;
		margin-bottom: 23px;
	}

	&__birthday {
		margin-bottom: 20px;
	}

	&__birthday-title {
		font: normal bold 12px/15px Montserrat;
    text-transform: uppercase;
		color: #1F2041;
		display: block;
    margin-bottom: 5px;
	}

	&__login {
		margin-bottom: 6px;
	}

	&__login-title {
		font: normal bold 12px/15px Montserrat;
    text-transform: uppercase;
		color: #1F2041;
		display: block;
		margin-bottom: 6px;
	}

	&__email {
		margin-bottom: 11px;
	}

	&__special-offer {
		margin-bottom: 22px;
	}

	&__pay {
		margin-bottom: 28px;
	}

	&__footer {
		display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
	}

	&__footer-text {
		font: normal normal 14px/18px Montserrat;
    color: #000000;
	}

	&__footer-login {
		flex-basis: 100px;
	}
}