.bullet-list {
	max-width: 252px;
	&__title {
		font: normal bold 12px/15px Montserrat;
    text-transform: uppercase;
    color: #1F2041;
	}

	&__items {
		max-width: 252px;
	}

	&__item-wrapper {
    position: relative;
		padding-left: 20px;
		margin-top: 12.6px;
	}

	&__item {
		font: normal normal 14px/1.6 Montserrat;
    color: rgba(31, 32, 65, 0.75);
    list-style-type: none;
	}

	&__item-wrapper::before {
		content: "";
    position: absolute;
    top: 7px;
    left: -1px;
    width: 10px;
    height: 10px;
    background: rgba(31, 32, 65, 0.25);
    border-radius: 3em;
	}
}
