@import 'root/fonts/fonts.scss';
@import '~normalize.css';
@import 'CardsComponents/registration/registration';
@import 'CardsComponents/signin/signin';
@import 'HFcomponents/header/header';
@import 'HFcomponents/footer/footer';
:root {
	font: normal normal .875em/1.2 Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.user-page {
	&__main {
		margin: 0 auto;
		background-image: url('~root/images/main_userpage.jpg');
		background-size: cover;
		background-position: 100% 100%;
		background-repeat: no-repeat;
	}

	&__form {
    max-width: 971px;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
	}

	&__registration {
		flex-basis: 383px;
	}

	&__signin {
		flex-basis: 383px;
		padding: 153px 0px 153px 0px;
	}
}