@import '/UI_kit/cards/components/registration/registration';
@import '/UI_kit/cards/components/signin/signin';
.user-page {
	&__main {
		margin: 0 auto;
		background-image: url("/images/main_userpage.jpg");
		background-size: cover;
		background-position: 100% 100%;
		background-repeat: no-repeat;
	}

	&__form {
    max-width: 971px;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
    display: flex;
    justify-content: center;
	}

	&__registration {
		flex-basis: 383px;
	}

	&__signin {
		flex-basis: 383px;
		padding: 153px 0px 153px 0px;
	}
}