.room-details {
	display: flex;
	flex-flow: column wrap;
	max-width: 277px;;

	&__detail {
		display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    padding-bottom: 20px;
    margin-bottom: 20px;
	}

	&__info {
		margin-left: 18px;
	}

	&__category {
		font: normal bold 14px/24px Montserrat;
    color: rgba(31, 32, 65, 0.75);
    display: block;
	}

	&__description {
		font: normal normal 14px/24px Montserrat;
    color: rgba(31, 32, 65, 0.75);
    display: block;
	}
}