.room-details {
	display: flex;
	flex-flow: column wrap;
	max-width: 277px;;

	&__detail {
		display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    padding-bottom: 18px;
	}

	&__detail:not(:last-of-type) {
		margin-bottom: 23px;
	}
	
	&__img {
		height: 40px;
	}

	&__info {
		margin-left: 16px;
	}

	&__category {
		font: normal bold 14px/24px Montserrat;
    color: rgba(31, 32, 65, 0.75);
    display: block;
	}

	&__description {
		font: normal normal 14px/24px Montserrat;
    color: rgba(31, 32, 65, 0.75);
    display: block;
	}
}