*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    font-size: 10px;
    box-sizing: border-box;
}

.room-details {
    display: flex;
    flex-direction: column;
    max-width: 224px;

    &__detail {
        display: flex;
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);
        margin-bottom: 17px;
    }

    &__info {
        display: flex;
        flex-direction: column;

        font-family: Montserrat;
        font-weight: bold;
        font-size: 11px;
        line-height: 18px;
        color: rgba(31, 32, 65, 0.75);
        letter-spacing: 0.15px;
        padding-left: 12px;
        margin-bottom: 16px;
    }

    &__img {
        width: 33px;
        height: 36px;
    }

    &__category {
        margin-bottom: 1px;
        font-weight: 700;
    }

    &__description {
        font-weight: 400;
    }
}