@import 'FEcomponents/dropdown/dropdown';
@import 'FEcomponents/button/button';
.booking {
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	max-width: 381px;
	padding: 42px 29px 28px 30px;

	&__title {
		display: flex;
    justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 15px;
		flex-flow: row wrap;
	}

	&__number {
		font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    color: #1F2041;
    display: inline-flex;
    // align-items: center;
	}

	&__number-icon {
		font-weight: normal;
		font-size: 14px;
		padding-top: 8px;
		margin-right: 6px;
	}

	&__type {
		margin-left: 5px;
    padding-top: 2px;
	}

	&__price {
		font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: rgba(31, 32, 65, 0.5);
    display: inline-block;
	}

	&__time {
		font-weight: normal;
    letter-spacing: -0.4px;
    font-size: 13px;
	}

	&__dates {
		margin-bottom: 16px;
	}

	&__guests {
		margin-bottom: 19px;
	}

	&__items {
		padding-left: 1px;
		margin-bottom: 27px;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
	}

	&__item:not(:last-of-type) {
		margin-bottom: 13px;
	}

	&__description {
		flex-basis: 237px;
		position: relative;
	}

	&__description-detail {
		font: normal bold 12px/18px Montserrat;
		width: 19px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    color: rgba(31, 32, 65, 0.25);
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
	}

	&__description-text {
		font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21.5px;
    color: rgba(31, 32, 65, 0.75);
	}

	&__cost {
		font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgba(31, 32, 65, 0.75);
	}

	&__total {
		display: flex;
		justify-content: space-between;
		margin-bottom: 19px;
		flex-flow: row wrap;
	}

	&__total-text {
		font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
    color: #1F2041;
	}

	&__total-line {
		border-bottom: 1px dashed rgba(31, 32, 65, 0.25);
    min-width: 174px;
    height: 18px;
	}

	&__total-cost {
		font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #1F2041;
	}
}