include UI_kit/form-elements/components/bullet-list/bullet-list
include UI_kit/form-elements/components/button/button
include UI_kit/form-elements/components/checkbox/checkbox
include UI_kit/form-elements/components/checkbox-list/checkbox-list
include UI_kit/form-elements/components/checkbox-rich/checkbox-rich
include UI_kit/form-elements/components/dropdown/dropdown
include UI_kit/form-elements/components/field/field
include UI_kit/form-elements/components/like/like
include UI_kit/form-elements/components/pagination/pagination
include UI_kit/form-elements/components/radio/radio
include UI_kit/form-elements/components/rate/rate
include UI_kit/form-elements/components/room-details/room-details
include UI_kit/form-elements/components/toggle/toggle
include UI_kit/form-elements/components/review/review
<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body
	mixin find-room(options = {})
		.find-room
			.find-room__title= options.title
			.find-room__dates
				+dropdown({size: "small", type: "date", placeholder: "ДД.ММ.ГГГГ", title: ["прибытие", "выезд"], id: 1})
			.find-room__guests
					+dropdown({
							type: "default", 
							list: ["взрослые", "дети", "младенцы"], 
							buttons: true, title: "Гости", 
							size: "large", id: 2,
							placeholder: "Сколько гостей"})
			.find-room__find
				+button({theme: "full", size: "large", arrow: true, link_text: "Подобрать номер", color: "white"})
	+find-room({title: "Найдём номера под ваши пожелания"})