@import "~normalize.css";
@import "~material-icons/iconfont/material-icons.scss";
@import "./fonts/fonts";
// @import 'FEcomponents/button/button';
@import 'FEcomponents/field/field';
// @import "root/UI_kit/cards/components/calendar/calendar";
:root {
    font: normal normal .875em/1.2 Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background: #E5E5E5;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}