@import "~normalize.css";
@import "~material-icons/iconfont/material-icons.scss";
@import "./fonts/fonts";
// @import 'FEcomponents/dropdown/dropdown';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    font-size: 10px;
    box-sizing: border-box;
    background: #E5E5E5;
}