.button {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	padding: 2px 3px;
	border-radius: 3em;
	text-align: center;
	max-width: 104px;

	&:hover {
		opacity: 0.5;
	}

	&_theme-full {
		background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	}

	&_theme-none {
		background: transparent;
		display: inline-block;
		padding: 0;
	}
	
	&_size-small {
		max-width: 104px;
	}

	&_size-large {
		display: block;
		max-width: 341px;
	}

	&__wrapper {
		background: transparent;
		border-radius: 22px;
		position: relative;
	}

	&__wrapper_theme-transparent {
		background: #fff;
	}

	&__wrapper_theme-full {
		background: transparent;
	}

	&__wrapper_theme-none {
		padding: 0;
	}

	&__wrapper_arrow-true::after {
    content: "";
    background-image: url('/images/arrow_button.svg');
    position: absolute;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
		background-position: center center;
		top: 11px;
    right: 10px;
	}

	&__link {
		display: block;
		font:normal bold 12px/42px Montserrat;
    text-transform: uppercase;
		color: #FFFFFF;
    text-decoration: none;
		letter-spacing: 0.5px;
	}

	&__link_color-white {
		color: #FFFFFF;
	}	

	&__link_color-purple {
		color: #BC9CFF;
	}

	&__link_color-gray {
		color: rgba(31, 32, 65, 0.5);
	}
}
