include /UI_kit/form-elements/components/button/button
include /UI_kit/form-elements/components/field/field
mixin signin(options = {title: "Войти"})
	.signin
		.signin__title= options.title
		.signin__email
			+field({type: "email", placeholder: "Email", size: 'large'})
		.signin__password
			+field({type: "password", placeholder: "Пароль", size: 'large'})
		.signin__login-button
			+button({theme: 'full', size: 'large', arrow: true, link_text: "Войти", color: "white"})
		.signin__footer
			span.signin__footer-text Нет аккаунта на Toxin?
			.signin__footer-create
				+button({theme: "transparent", size: "small", arrow: false, link_text: "создать", color: "purple"})