.rate {
	display: flex;
	cursor: pointer;

	&__svg {
    width: 20px;
    height: 20px;
	}

	&__svg_selected path {
		fill: url(#paint0_linear);
	}

	&__star:nth-child(n):not(:last-child) {
		margin-right: 4px;
	}
}